:root{
  --color-primario: #000891;
  --color-secundario: #0A0A0A;
  --color-fondo: #FFFFFF;
  --color-fondo-secundario: #F5F7FA;
  --color-texto: #1E1E1E;
  --color-texto-suave: #555555;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: white;
    color: black;    
    font-family: 'Inter', sans-serif;
}
h1 h2 h3{
    font-family: 'Inter', sans-serif;
    font-weight: 700; 
    line-height: 1.2; 
    color: var(--color-primario); 
}

p{
    line-height: 1.1;
    color: #222222;
}
.nav {
  background: transparent !important;
}

/*portada*/
.portada{
  display: flex;
  background: linear-gradient(90deg, #000000, #1a1a1a);
  box-shadow: 0 2px 20px 2px var(--color-primario);text-align: center;
  align-items: center;
  background-color: var(--color-primario);
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 0 5%;
}

.nav-link {
  color: white !important;
  font-size: 20px;
  font-weight: 500;
  margin: 0 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent !important; /* elimina fondo blanco */
  border: none;
  transition: all 0.3s ease;
  background-color: #000000;
}
.nav-link i {
  background: transparent !important; 
  color: inherit; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 0;
  border: none;
  box-shadow: none;
}

.nav-link:hover {
  color: #00c3ff !important;
  text-shadow: 0 0 8px rgba(0, 195, 255, 0.6);
  transform: translateY(-2px);
}

.nav-link.active {
  color: #00c3ff !important;
}
#logoAQ{
  width: 100px;
  height: 100px;
  margin-right: 20%;
}


/* Estilo de swipper*/
.swiper {
  width: 100%;
  padding: 40px ;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  max-height: fit-content;
}

.card {
  width: 90%; 
  max-width: 500px; 
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 330px;
  border: var(--color-primario) solid 2px ;
  justify-content: center;
  background-color: linear-gradient(180deg, #ffffff 0%, #ffe5cc 100%);
}

.card-text1{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.7;
  height: 60%;
}

.card-text2{
  display: flex;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
}

.mb-4 text{
  font-weight: bold;
}

#norm{
  font-weight: bold;
  color: var(--color-primario);
}


/* INDEX*/
.contenido{
  padding: 10% 10% 2% 10%;
}

#origen {
  text-align: center;
  font-weight: bold;
  color: var(--color-primario);
}


#origen2{
  padding-bottom: 0% ;
  font-weight: bold;
  color: var(--color-primario);
}


#tarjetas{
  display: flex;
  justify-content: space-between;
  
}

#tarjetas .card {
  border: 7px solid var(--color-primario) ;
  height: 450px;
  width: 400px;
  text-align: center;
  margin: 2%  4% 4% 4%;
}

#tarjetas img{
  border-radius: 8px;
  margin: 20px auto ;
  width: 50%;
  height: 50%;
}

.card-title{
  font-weight:900;
  color: var(--color-primario);
}

.card-title b{
  font-weight:900;
  color: var(--color-primario);
}
.card-text{
  line-height: 1.3;
}
#definicion h3{
  font-weight: bold;
  color: #000891 ;
}
#definicion p{
  line-height: 2.0;
}

#std h2{
font-weight: bold;
color: var(--color-primario);
}

#std img{
  display: block;
  margin: 0 auto;
}

#pruebaAQ h2{
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: var(--color-primario);
}

#pruebaAQ a{
  display: block;
  margin: 0 auto;
  font-size: 30px;
  margin-top: 2%;
  width: 30%;
}

#argus-quality-btn{
  color: var(--color-primario);
  border: var(--color-primario) solid 1px ;
}

#argus-quality-btn:hover{
  background-color: var(--color-primario);
  color: white;
  transform: scale(1.2);
  transition: 0.9s;
}

footer{
  padding: 0;
}
.footer-rights{
  padding: 0;
}





/*Estilo pagina modelo*/
.contenido-modelo{
  padding: 8.5% 10% 2% 10%;
}

.norma-nosotros{
  display: flex;
  justify-content: space-between;
  align-items: center; /* centra verticalmente */
  gap: 50px;          
}

.texto-izq h3 {
  margin: 15px 10% 15px 0;
  text-align: left;
  font-weight: bold;
  color: var(--color-primario);
}

.texto-izq p {
  margin: 0;
  padding: 0px 50px 0 10px;
  text-align:start;
  line-height: 1.7;
}
.texto-der{
  margin: 0;
  padding: 0px 10px 0 50px;
  text-align:end;
  color: var(--color-primario);
  
}

.texto-der p{
  line-height: 1.7;
}

.imagen-der{
  width: 60%;
  height: auto;
}
#argos_img{
  max-width: 450px;
  height: auto;
}
.argus{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 10px;
}

.argus h3{
  font-weight: bold;
}
.descripcionAQ{
  margin-top: 50px;  
}
.descripcionAQ h3, h4{
  font-weight: bold;
  margin-top: 50px;
  color: var(--color-primario);
}

.descripcionAQ p{
  padding: 0px 50px 0 10px;
  text-align:start;
  line-height: 2.5;
}

#softwareAQ{
  margin: 30px auto;
  padding: 20px 10px;
  max-width: 1000px;
}

#evaluacionForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  border: #000 solid 5px;
  padding: 20px; /* 🔹 aumenta espacio interno general */
  border: 3px solid var(--color-primario); /* opcional, solo si quieres verlo */
  border-radius: 10px;
  box-shadow: 10px 3px 15px 1px var(--color-primario);  
}

#evaluacionForm input {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 14px;
}

#evaluacionForm label,
#evaluacionForm input {
  flex: 1 1 calc(20% - 20px);
  box-sizing: border-box;
}

input {
  border: 2px solid #000;
  border-radius: 6px;
  padding: 8px;
  margin-top: 5px;
}
#evaluacionForm h3 {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
}

#funcionalidad, #usabilidad, #seguridad, #rendimiento, #confiabilidad, #eficiencia, #portabilidad  {
  width: 95px;
}


#evaluacionForm button {
  flex: 1 1 100%;
  background-color: WHITE;
  color: var(--color-primario);
  padding: 8px;
  border: solid ;
  border-radius: 6px;
  margin-top: 10px;
  transition: 0.7s;
}

#evaluacionForm button:hover{
  color: var(--color-primario);
  background-color: var(--color-primario);
  color: white;
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
}

#btncsv
{
  background-color: green;
  border: none;
  border-radius: 20%;
}

#btnpdf{
  background-color: red;
  border: none;
  border-radius: 20%;
}
#btncsv:hover, #btnpdf:hover {
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;

}
#sumbit{
  width: 30%;
}

#resultado {
  margin-top: 20px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#graficoCalidad{
  display: block;
  margin: 20px auto;
  width: 0;       /* tamaño inicial pequeño */
  height: 0px;
  max-width: 500px;
  max-height: 500px;
  opacity: 0.4;       /* un poco transparente antes */
  transition: all 1.6s ease-in-out; /* animación suave */
  border-radius: 10px;
}

#graficoCalidad[width] {
  width: 500px !important;  /* tamaño final al generarse */
  height: 500px !important;
  opacity: 1;
}

.botonDescarga{
  text-align: center; /* centra el contenido dentro del div */
  margin-top: 20px;
}



/*Estilo de tarjetas pagina nosotros*/
.Contenido-nosotros {
  padding: 120px 10% 2% 10%;
}
.card-nosotros {
  width: 70%; 
  margin-bottom: 5%;
}

/* Alinear tarjetas impares a la izquierda */
.card-nosotros:nth-child(odd) {
  margin-left: 0;
  margin-right: auto;
}

/* Alinear tarjetas pares a la derecha */
.card-nosotros:nth-child(even) {
  margin-left: auto;
  margin-right: 0;
}

/* Estructura interna de cada tarjeta */
.card-nosotros-flexbox {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Imagen circular */
.card-nosotros-img {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

/* Texto */
.card-nosotros-info {
  flex: 1;
}

.card-nosotros-info h3{
  text-align: center;
}

.card-nosotros-info p{
  text-align: center;
  line-height: 1.5;
}

/* En las tarjetas pares, la imagen va a la derecha */
.card-nosotros:nth-child(even) .card-nosotros-flexbox {
  flex-direction: row-reverse;
}

.video{
  text-align: center;
  margin-bottom: 3%;
}
.video h2{
  font-weight: bold;
} 

.video iframe{
  width: 500px;
  height: 400px;
}
